Repository eipp/maily, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yourusername, @frontend-team-lead, @backend-team-lead, @ai-team-lead, @devops-team-lead, @architecture-team-lead, @testing-team-lead, @docs-team-lead

Implement resilience enhancements with circuit breakers
  .env.production.template
  UNIMPLEMENTED_FEATURES.md
  apps/ai-service/services/database.py
  deploy_latest_maily_production.sh
  docs/adr/0013-circuit-breaker-implementation.md
Owners: @yourusername, @ai-team-lead, @docs-team-lead

Complete implementation of next steps
  apps/ai-service/main.py
  apps/ai-service/models/content_safety.py
  apps/ai-service/routers/content_safety.py
  apps/ai-service/services/content_safety_service.py
  apps/analytics-service/package.json
  apps/api/services/ai_service.py
  apps/campaign-service/package.json
  apps/email-service/package.json
  apps/web/package.json
  apps/workers/package.json
Owners: @ai-team-lead, @yourusername, @backend-team-lead, @frontend-team-lead

Fix signup page social auth handlers to provide consistent experience
  apps/web/auth/signup/page.tsx
Owners: @frontend-team-lead

Consolidate enhancement plans into a single PRIORITY-TASKS.md file
  PRIORITY-TASKS.md
Owners: @yourusername

Complete error handling standardization migration
  CLAUDE.md
  ERROR-HANDLING-STANDARDIZATION.md
  apps/api/routers/api_keys.py
  apps/api/services/api_key_service.py
  apps/web/__tests__/ErrorBoundary.test.tsx
  packages/error-handling/MIGRATION-GUIDE.md
  packages/error-handling/README.md
  tests/unit/ErrorBoundary.test.tsx
Owners: @yourusername, @backend-team-lead, @frontend-team-lead

Consolidate documentation into core reference files
  CONFIGURATION.md
  DEPENDENCIES.md
  DEVOPS.md
  DOCUMENTATION-PLAN.md
  IMPROVEMENTS.md
Owners: @yourusername

Finalize documentation consolidation
  CONFIGURATION.md
  backup-md/API-STANDARDIZATION-PLAN.md
  backup-md/APP_MIGRATION_NOTE.md
  backup-md/CLEANUP_SUMMARY.md
  backup-md/DEPENDENCY-UPDATE-GUIDE.md
  backup-md/DEPLOYMENT-README.md
  backup-md/DEVOPS-README.md
  backup-md/DOCKER_STANDARDIZATION.md
  backup-md/ERROR-HANDLING-STANDARDIZATION.md
  backup-md/FINAL-IMPROVEMENTS.md
  backup-md/IMPROVEMENT-SUMMARY.md
  backup-md/KUBERNETES-HELM-PLAN.md
  backup-md/NEXT-STEPS.md
  backup-md/NEXT_CONFIG_STANDARDIZATION.md
  backup-md/PRODUCTION-READINESS-UPDATE.md
  backup-md/README.md
  backup-md/REPO-CLEANUP-SUMMARY.md
  backup-md/REPO-IMPROVEMENTS.md
  backup-md/REQUIREMENTS.md
  backup-md/ROLLBACK.md
  backup-md/TEST-CONSOLIDATION-PLAN.md
  backup-md/TEST_CONSOLIDATION_NOTE.md
  backup-md/UNIMPLEMENTED_FEATURES.md
  backup-md/architecture-diagram.md
  backup-md/dependency-report.md
  backup-md/devops-strategy.md
  backup-md/implementation-plan.md
  backup-md/implementation-progress.md
  backup-md/master-implementation-plan.md
  backup-md/predictive-analytics-fusion.md
  backup-md/production-readiness-checklist.md
  backup-md/remaining-tasks.md
  backup-md/system-integration-plan.md
Owners: @yourusername

Finalize documentation optimization with comprehensive strategy
  DOCUMENTATION-FINAL.md
  DOCUMENTATION-PLAN.md
Owners: @yourusername

Complete documentation optimization with structured directory approach
  DOCUMENTATION-FINAL.md
  PRIORITY-TASKS.md
Owners: @yourusername

refactor: standardize repository structure and organization
  apps/api/cache/redis_client.py
  apps/api/config/settings.py
  apps/web/jest.config.js
  apps/web/next.config.js
  config/README.md
  config/app/api/settings.py
  config/app/web/next.config.js
  config/app/web/vitest.config.ts
  docker/README.md
  packages/README.md
  packages/database/src/redis-client/README.md
  packages/database/src/redis-client/__init__.py
  packages/database/src/redis-client/redisClient.py
  packages/database/src/redis/__init__.py
  packages/database/src/redis/redis_client.py
  packages/database/src/redis_client.py
Owners: @backend-team-lead, @frontend-team-lead, @yourusername, @devops-team-lead

docs: update README and add test for error handling
  README.md
  README.md.backup
  tests/unit/test_error_handling.py
Owners: @yourusername

Implement standardized error handling and Redis client
  CLAUDE.md
  NEXT-STEPS.md
  apps/api/cache/redis_client.py
  apps/api/main.py
  packages/database/src/redis/__init__.py
  packages/database/src/redis/redis_client.py
  packages/error-handling/src/errors/ApplicationError.ts
  packages/error-handling/src/errors/DomainErrors.ts
  packages/error-handling/src/errors/ErrorTypes.ts
  packages/error-handling/src/errors/HttpErrors.ts
  packages/error-handling/src/errors/index.ts
  packages/error-handling/src/handlers/HttpClientErrorHandler.ts
  packages/error-handling/src/handlers/index.ts
  packages/error-handling/src/index.ts
  packages/error-handling/src/react/ErrorBoundary.tsx
  packages/error-handling/src/react/ErrorFallback.tsx
  packages/error-handling/src/react/index.ts
  packages/error_handling/python/__init__.py
  packages/error_handling/python/errors/__init__.py
  packages/error_handling/python/errors/application_errors.py
  packages/error_handling/python/errors/infrastructure_errors.py
  packages/error_handling/python/errors/integration_errors.py
  packages/error_handling/python/errors/maily_error.py
  packages/error_handling/python/errors/security_errors.py
  packages/error_handling/python/middleware/__init__.py
  packages/error_handling/python/middleware/fastapi_error_handler.py
Owners: @yourusername, @backend-team-lead

Complete cleanup and implement trust verification components
  apps/ai-service/services/trust_verification.py
  apps/api/services/blockchain_service.py
  apps/api/services/trust_verification_service.py
  apps/web/app/api/trust-verification/badge/[canvasId]/route.ts
  apps/web/app/api/trust-verification/data/[canvasId]/route.ts
  apps/web/app/api/trust-verification/tokens/route.ts
  apps/web/app/api/trust-verification/verify/route.ts
  apps/web/components/DraggableLayer.tsx
  apps/web/components/LayersPanel.tsx
  apps/web/components/PerformanceMetricsPanel.tsx
  apps/web/components/TrustVerificationWallet.tsx
  apps/web/components/TrustVerificationWrapper.tsx
  apps/web/jest.config.js
  apps/web/utils/canvas.ts
Owners: @ai-team-lead, @backend-team-lead, @frontend-team-lead

Complete repository standardization following the refactoring plan
  PRIORITY-TASKS.md
  REPOSITORY-STANDARDIZATION.md
  apps/api/main.py
  apps/api/middleware/auth_setup.py
  apps/api/middleware/standardized_auth.py
  apps/api/services/user_service.py
  config/shared/logging/nodejs.js
  config/shared/logging/python.py
  config/shared/monitoring/prometheus.yml
Owners: @yourusername, @backend-team-lead

complete: Cognitive Canvas WebSocket infrastructure
  NEXT-STEPS.md
  PRIORITY-TASKS.md
  apps/api/main.py
  apps/api/routers/canvas_websocket.py
  docs/features/cognitive-canvas.md
  scripts/run_websocket_server.py
  tests/unit/test_websocket_service.py
Owners: @yourusername, @backend-team-lead, @docs-team-lead

Implement complete multi-environment setup with feature flags, database migration, and monitoring
  .vercelignore
  MULTI-ENVIRONMENT-SETUP.md
  apps/api/.env.development
  apps/api/.env.staging
  apps/api/.env.test
  apps/api/routes/features.js
  apps/api/vercel.json
  apps/web/.env.development
  apps/web/.env.staging
  apps/web/.env.test
  apps/web/.vercelignore
  apps/web/hooks/useFeatureFlag.js
  apps/web/vercel.json
  config/feature-flags.js
  kubernetes/monitoring/prometheus-values.yaml
  kubernetes/namespaces/testing.yaml
  kubernetes/testing/maily-deployment.yaml
  scripts/deploy-environment.sh
  scripts/migrate-database.sh
  vercel.development.json
  vercel.json
  vercel.production.json
  vercel.staging.json
  vercel.testing.json
Owners: @yourusername, @backend-team-lead, @frontend-team-lead, @devops-team-lead

Migrate Jest to Vitest in react-hooks package
  package-lock.json
  packages/react-hooks/package.json
  packages/react-hooks/vitest.config.ts
Owners: @yourusername

Add standardization completion document
  packages/react-hooks/STANDARDIZATION-COMPLETE.md
Owners: @yourusername

Complete repository standardization removing deprecated modules
  docker/compose/docker-compose.yml
Owners: @devops-team-lead

Standardize Redis PubSub usage in canvas and websocket routers
  apps/api/routers/canvas.py
  apps/api/routers/websocket.py
Owners: @backend-team-lead

Migrate to standardized HTTP and Redis clients
  apps/ai-service/implementations/memory/vector_embeddings.py
  apps/ai-service/utils/tracing.py
  tests/performance/ai_mesh_load_test.py
Owners: @ai-team-lead, @yourusername

Update consolidation summary with recent HTTP/Redis migrations
  CONSOLIDATION-SUMMARY.md
Owners: @yourusername

Update HTTP and Redis migration plan with progress
  HTTP-REDIS-MIGRATION-PLAN.md
Owners: @yourusername

Fix HTTP client implementation and dependencies
  packages/error-handling/python/errors.py
  packages/error-handling/python/http_client.py
Owners: @yourusername

Complete HTTP and Redis client migration
  CONSOLIDATION-SUMMARY.md
  HTTP-REDIS-MIGRATION-PLAN.md
  MIGRATION-COMPLETE.md
  apps/api/routers/campaigns.py
  tests/conftest.py
Owners: @yourusername, @backend-team-lead

Complete all standardization tasks
  CONSOLIDATION-SUMMARY.md
  MIGRATION-COMPLETE.md
  STANDARDIZATION-COMPLETED.md
Owners: @yourusername

Complete codebase cleanup and standardization
  MIGRATION-COMPLETE.md
  apps/api/services/campaign_service.py
Owners: @yourusername, @backend-team-lead

.github/CODEOWNERS:

# Global code owners
* @yourusername

# Frontend code
/apps/web/ @frontend-team-lead
/packages/ui/ @frontend-team-lead
/packages/ui-components/ @frontend-team-lead

# Backend code
/apps/api/ @backend-team-lead
/apps/workers/ @backend-team-lead

# AI service
/apps/ai-service/ @ai-team-lead

# Infrastructure
/infrastructure/ @devops-team-lead
/kubernetes/ @devops-team-lead
/terraform/ @devops-team-lead
/docker/ @devops-team-lead

# Domain model
/packages/domain/ @architecture-team-lead

# Configuration
/packages/config-schema/ @architecture-team-lead

# Testing utilities
/packages/testing/ @testing-team-lead

# Documentation
/docs/ @docs-team-lead
